@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Gloock&family=Unbounded&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Belanosima', sans-serif;
}
body{
    cursor: url("../public/spaceship.png"), auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}